*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button{
    padding: 10px;
    cursor: pointer;
}

.board{
    display: flex;
    gap: 10px;
}